* {
    margin: 0;
    padding: 0;
}

body {
    background: #26203b
}

:root {
    --color-primary:
    rgb(255, 255, 255 / 50%);
    --color-muted:
    rgb(255, 255, 255 / 30%);
}

.background {
    position: absolute;
    z-index: -1;
    left: 50%;
    translate: -50% 0;
    bottom: -50px;
    height: 80px;
}

svg {
    width: 100vh;
    height: 100vh;
    transform:
        scaleX(3)
        scaleX(2.25);
    transform-origin: bottom;
    display: block;
    pointer-events: none;
}

.card {
    position: relative;
    z-index: 2;
    overflow: hidden;
    width: 380px;
    padding: 72px 32px 58px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: 
        linear-gradient(#1c182b, #2d2546);
}

.card img.logo {
    width: 94px;
    margin: 24px 0 64px;
}

.card h2, 
.card h3 {
    font-weight: 500;
}

.card h2 {
    font-size: 24px;
    margin-bottom: 0 0 6px;
}

.card h3 {
    font-size: 12px;
    color: var(--color-muted);
    margin: 0 0 56px;
}

.card form {
    display: grid;
    gap: 18px;
    width: 100%;
    margin-bottom: 32px;
}

input, button {
    height: 50px;
    font-family: inherit;
    font-size: 16px;
    padding: 0 16px;
    border: 0;
}

.textbox {
    position: relative;
}

lebel, input {
    transition: 0.3s;
}

.textbox img {
    position: absolute;
    top: 50%;
    left: 0;
    translate: 0 -50%;
    height: 50px;
}

.textbox lebel {
    position: absolute;
    top: 50%;
    left: 32px;
    translate: 0 -50%;
    transform-origin: 0 50%;
    pointer-events: none;
    color: var (--color-muted);
}

.textbox input {
    width: 100%;
    padding-left: 32px;
    background: transparent;
    border-bottom:
     1px solid 
     rgb(255, 255, 255 / 10%);
    box-shadow: 0 0 0 2px
     transparent;
}

.textbox input:focus {
    border-color:
     var (--color-primary);
}

.textbox
input 
:is(:focus,:not(:invalid))
~ lebel {
    scale: 0.725;
    translate: -28px -38px;
    color: var (--color-primary);
}